{{#each product in filteredProducts}}
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
    {{view App.ProductInListView contentBinding="product"}}
  </div>
  {{#ifModulo 2}}
    <div class="clearfix visible-xs"></div>
  {{/ifModulo}}
  {{#ifModulo 3}}
    <div class="clearfix visible-sm"></div>
  {{/ifModulo}}
  {{#ifModulo 4}}
    <div class="clearfix visible-md"></div>
  {{/ifModulo}}
  {{#ifModulo 6}}
    <div class="clearfix visible-lg"></div>
  {{/ifModulo}}
{{/each}}
