@import "twitter/bootstrap";

#main {
  margin-top: 60px;
}

.product-list {
  .product {
    margin: 1em 0;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img { margin: 0 auto; }
  }
}
